* {
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(transparent, #3292ff55);
}

input {
  cursor: pointer;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-btn {
  box-shadow: none !important;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: .3s;
}

.music-btn:active {
  transform: scale(.9);
}

.icon-btn {
  width: 40px;
  height: 40px;
}

.progress {
  padding: 0;
}

.time-line {
  margin: 0;
  padding: 0 10px;
  background-color: transparent;
}

.track {
  width: 100%;
  height: 1rem;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
}

.progress-bar {
  width: 100%;
  height: 100%;
  appearance: none;
  background: transparent;
}

.progress-bar::-webkit-slider-thumb {
  visibility: hidden;
}

.animate-track {
  background: rgb(210, 210, 210);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  padding: 1rem;
  pointer-events: none;
}